// @import '../../styles/mixins.scss';
// @import '../../styles/variables.scss';
@use "../styles/utilities" as u;

#pages {
  max-width: u.toRem(1760);
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: u.toRem(80);

  &__con {
    margin: 0 auto;
    position: fixed;
    max-width: u.toRem(1920);
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
  }
  &__sidebar-nav {
    display: flex;
    flex-direction: row;
  }
}

.sidebar {
  max-width: u.toRem(200);
}
.copyright-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: u.toRem(7);

  &__btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    color: var(--white);
    border: none;
  }
}
.backg-con {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.sidebar-con {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 3px 13px 0 rgba(0, 0, 0, 0.16);
  background: var(--white);
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  width: u.toRem(256);
  height: 100%;
}
.side-head-con {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.side-list-div {
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}
.cat-list-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem;
}
.cat-links-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  padding-bottom: 0.5rem;
}
.settings-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.5rem;
  // border-bottom: solid 1.00px rgba(0,0,0,0.25);
  padding-bottom: 0.25rem;
}

