@use '../../../../styles/utilities/' as u;
@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.comment-date {
  margin-right: 0.5rem;

  &__text {
    font-size: u.toRem(16);

    color: var(--meta-data);
  }
}
