$s:                             0.80rem;      //meta-data
$default:                       1.00rem;      //description
$m:                             1.20rem;      //title
$l:                             2.00rem;      //Logo

$color:                         #CE0000;     //brand-color
$color2:                        #FFFFFF;     //white
$color3:                        coral;       //divider
$color4:                        #0F1419;     //text-color
$color5:                        #74818B;     //meta-data
$color6:                        #DDDDDD;     //side-bar divider
$color7:                        #EFEFEF;     //on hover
$color8:                        rgb(255,255,255,0.45); //transparent button color
$color9:                        #F5F5F5;     //background-color pages

$border-rad:                    0.50rem;  
$btn-border-rad:                0.30rem;
$font-weight:                   600; 







