@use "../../../../styles/utilities/" as u;
@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: u.toRem(5);
  &__con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: u.toRem(10);
  }
  &__title {
    font-size: u.toRem(19);
    font-weight: 600;
  }
}
