@use "../../../../styles//utilities/" as u;
@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    color: var(--dark-text1);
    font-size: u.toRem(12);
    @include u.breakpoint(xs) {
      font-size: u.toRem(16);
    }
  }
}
