@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.forgot-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.00rem;
  box-sizing: border-box;
}