@use "../../styles//utilities/" as u;

.crop-photo {
  max-width: u.toRem(500);
  width: u.toRem(500);
  min-width: u.toRem(260);
  max-height: u.toRem(500);
  height: u.toRem(500);
  background-color: red;

}
.crop-edit {
  background: var(--dark-text1);
  position: relative;
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  min-width: u.toRem(500);
  overflow: auto;
}
