@use "../../../../styles/utilities/" as u;
@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.views {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 u.toRem(5) 0 u.toRem(5);
  &__text {
    font-size: u.toRem(13);
    color: var(--meta-data);
  }
  &__text-data {
    font-size: u.toRem(13);
    color: var(--meta-data);
    // font-weight: 600;
  }
}
