@use "../../../../styles/utilities/" as u;
@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    font-size: u.toRem(14);
    color: var(--meta-data);
  }
}
