@use '../../../../styles/utilities/' as u;
@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.comment-likes {
  margin: 0 0 0 0.4rem;

  &__text {
    font-size: u.toRem(16);
    color: var(--dark-text1);
  }
}
