h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  line-height: 110%;
  margin-top: 0;
}

p {
  margin-top: 0;
}

span {
  margin-top: 0;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

